<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Ultimate Optimizer</title>
<link rel="stylesheet" href="css/materialize.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
<div id="app">
<div id="my-navbar">
    <nav class="teal darken-4">
        <div class="nav-wrapper container">
        <a href="#" v-on:click="appType = 'index'" class="brand-logo">Noob Buster</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a v-on:click="setAppType('index')">Index</a></li>
        <li><a v-on:click="setAppType('ultimate-optimizer')">Ultimate Optimizer</a></li>
        <li><a v-on:click="setAppType('dietary-problem-solver')">Dietary Problem Solver</a></li>
        </ul>
        </div>
    </nav>
</div>

<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!--Application Body-->
<div class="container">
    <div v-if="isAppType('index')">
        <div id="index">
            <div class="row">
                <div class="col s8">
                    <h3>How to use me po?</h3>
                    <p>
                        Hello! Welcome to the Noob Buster: The ultimate optimizer and dietary problem solver.
                        Now let us assume that they are related. A user first has to select from the navbar which application he/she would prefer to use. There are two choices: The ultimate optimizer and the dietary problem solver.
                    </p>
                    <img class="responsive-img" src="img/doge.jpg">

                </div>
                <div class="col s4">
                    <h5>Creators:</h5>
                    <p>Joseph Matthew R. Marcos</p>
                </div>
            </div>
        </div>
    </div>

<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
    <div v-if="isAppType('ultimate-optimizer')">
        <div id="ultimate-optimizer">
            Ultimate Optimizer
        </div>
    </div>

<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!--Dietary Problem Solver-->
    <div v-if="isAppType('dietary-problem-solver')">
        <div id="dietary-problem-solver">
            <div class="row">
                <h4>Dietary Problem Solver</h4>
            </div>
            <div class="row">
                <!--First-->
                <div class="col s4">
                    <h5 class="center">Food</h5>
                    <div class="collection unano">
                        <a href="#!" class="collection-item"
                        v-for="name in dietarySolver.choices" v-on:click="setSelected(name.key)"
                        v-bind:class="{active: name.isSelected, 'black-text': name.isAdded, grey : name.isAdded}">
                            {{name.foodName}}
                        </a>
                    </div>
                </div>
                <!--Middle-->
                <div class="col s4">
                    <h5 class="center">About</h5>
                    <div v-if="dietarySolver.focusedFood !== ''">
                        <div class="row">
                            <div class="col s12">
                                <div class="unano2">
                                    <table >
                                        <thead>
                                            <tr>
                                                <th>Data Field</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Name</td>
                                                <td>{{ dietarySolver.focusedFood.food.replace(/_/g, ' ') }}</td>
                                            </tr>
                                            <tr>
                                                <td>Price (per serving)</td>
                                                <td>${{ dietarySolver.focusedFood.pricePerServing }}</td>
                                            </tr>
                                            <tr>
                                                <td>Serving Size</td>
                                                <td>{{ dietarySolver.focusedFood.servingSize.replace(/_/g, ' ') }}</td>
                                            </tr>
                                            <tr>
                                                <td>Calories</td>
                                                <td>{{ dietarySolver.focusedFood.calories }}</td>
                                            </tr>
                                            <tr>
                                                <td>Cholesterol</td>
                                                <td>
                                                    {{ dietarySolver.focusedFood.cholesterol }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Total Fat</td>
                                                <td>{{ dietarySolver.focusedFood.totalFat }}g</td>
                                            </tr>
                                            <tr>
                                                <td>Sodium</td>
                                                <td>{{ dietarySolver.focusedFood.sodium }}mg</td>
                                            </tr>
                                            <tr>
                                                <td>Carbohydrates</td>
                                                <td>{{ dietarySolver.focusedFood.carbohydrates }}g</td>
                                            </tr>
                                            <tr>
                                                <td>Dietary Fiber</td>
                                                <td>{{ dietarySolver.focusedFood.dietaryFiber }}g</td>
                                            </tr>
                                            <tr>
                                                <td>Protein</td>
                                                <td>
                                                    {{ dietarySolver.focusedFood.protein }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Vitamin A</td>
                                                <td>{{ dietarySolver.focusedFood.vitA }}IU</td>
                                            </tr>
                                            <tr>
                                                <td>Vitamin C</td>
                                                <td>{{ dietarySolver.focusedFood.vitC }}IU</td>
                                            </tr>
                                            <tr>
                                                <td>Calcium</td>
                                                <td>{{ dietarySolver.focusedFood.calcium }}mg</td>
                                            </tr>
                                            <tr>
                                                <td>Iron</td>
                                                <td>{{ dietarySolver.focusedFood.iron }}mg</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--For the button-->
                        <div class="row">
                            <div class="col s12">
                                <a class="waves-effect waves-light btn right"
                                v-on:click="addFood()">add food!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End-->
                <div class="col s4">
                    <h5 class="center">Selected</h5>
                    <div class="row">
                        <div class="collection unano2">
                            <a href="#!" class="collection-item deletable"
                            v-for="name in dietarySolver.picks"
                            v-on:click="removePick(name.food)">
                                {{name.food.replace(/_/g, ' ')}}
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a class="waves-effect waves-light btn right"
                            v-on:click="optimizeFood()">Optimize!</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Solutions Row for dietary problem solver-->
            <div class="row">
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi neque, quo dolorem nisi fuga assumenda commodi perspiciatis, fugit, adipisci ipsam quas odio. Libero dicta nihil excepturi aliquid, laborum laboriosam et!</div>
                <div>Dolores expedita obcaecati cupiditate, aspernatur aut minus explicabo ad. Minus eius nesciunt commodi quam incidunt enim, deleniti cum placeat rerum doloribus reprehenderit neque voluptates minima omnis inventore! Et, deleniti, quas.</div>
                <div>Id minima quidem harum alias quod, ex nostrum pariatur saepe temporibus rem quo similique? Quisquam, esse, repellendus. Pariatur voluptas, minus, mollitia vel at est amet, inventore et doloremque placeat molestiae.</div>
                <div>Obcaecati deserunt esse corrupti illo tempore minima! Quasi doloremque molestiae magni iusto saepe commodi officia possimus blanditiis obcaecati velit nesciunt corrupti deserunt ad, enim sit ipsa. Corrupti, molestias, reiciendis. Repellat.</div>
                <div>Culpa omnis rerum deserunt error a eos inventore explicabo repellat earum laboriosam ratione iure sapiente sunt, iste obcaecati nam tempora sequi quidem quibusdam soluta eum tenetur hic consectetur ab fuga.</div>
                <div>Cupiditate, quam impedit odit sapiente qui excepturi recusandae, itaque consequuntur suscipit cumque aspernatur nisi sed. Dolore minima perferendis corporis, possimus eius alias sit nostrum fuga ad, rem earum deserunt exercitationem!</div>
                <div>Officia adipisci molestiae eos nemo, quibusdam odio quo pariatur ea repellendus quae culpa eligendi nisi fugiat ad perspiciatis voluptatem libero praesentium, doloribus alias sint deserunt provident. Et animi voluptatum provident!</div>
                <div>Sunt eius nobis aut cupiditate nostrum! Maxime harum, autem officiis ex totam, asperiores exercitationem saepe doloribus veritatis eligendi, dolorum quaerat. Repellendus quibusdam, reiciendis necessitatibus neque ipsum deleniti minus earum quos.</div>
                <div>Est deserunt sunt amet consequuntur, ea, qui aliquam accusamus explicabo perferendis ipsam inventore ipsa possimus delectus porro! Deleniti, qui officiis ex eligendi necessitatibus nobis non ad explicabo cumque eum! Suscipit.</div>
                <div>Ad a eius aut ullam inventore, quo voluptatem deleniti pariatur, recusandae quas impedit unde ipsam facere officiis est mollitia officia enim. Error nulla possimus sequi quis, id modi porro earum!</div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="js/vue.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/lodash.min.js"></script>
<script src="js/SimplexMyUno.js"></script>
<script src="js/data.js"></script>
<script src="js/script.js"></script>
</body>
</html>
