<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Ultimate Optimizer</title>
<link rel="stylesheet" href="css/materialize.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
<div id="app">
<div id="my-navbar">
    <nav class="teal darken-4">
        <div class="nav-wrapper container">
        <a href="#" v-on:click="appType = 'index'" class="brand-logo">Noob Buster</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a v-on:click="setAppType('index')">Index</a></li>
        <li><a v-on:click="setAppType('ultimate-optimizer')">Ultimate Optimizer</a></li>
        <li><a v-on:click="setAppType('dietary-problem-solver')">Dietary Problem Solver</a></li>
        </ul>
        </div>
    </nav>
</div>

<!--Application Body-->
<div class="container">
    <div v-if="isAppType('index')">
        <div id="index">
            Index
        </div>
    </div>

    <div v-if="isAppType('ultimate-optimizer')">
        <div id="ultimate-optimizer">
            Ultimate Optimizer
        </div>
    </div>

    <div v-if="isAppType('dietary-problem-solver')">
        <div id="dietary-problem-solver">
            Problem Solver
        </div>
    </div>
</div>
</div>

<script src="js/vue.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/lodash.min.js"></script>
<script src="js/data.js"></script>
<script src="js/script.js"></script>
</body>
</html>
