<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Ultimate Optimizer</title>
<link rel="stylesheet" href="css/materialize.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
<div id="app">
<div id="my-navbar">
    <nav class="teal darken-4">
        <div class="nav-wrapper container">
        <a href="#" v-on:click="appType = 'index'" class="brand-logo">Noob Buster</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a v-on:click="setAppType('index')">Index</a></li>
        <li><a v-on:click="setAppType('ultimate-optimizer')">Ultimate Optimizer</a></li>
        <li><a v-on:click="setAppType('dietary-problem-solver')">Dietary Problem Solver</a></li>
        </ul>
        </div>
    </nav>
</div>

<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!--Application Body-->
<div class="container">
    <div v-if="isAppType('index')">
        <div id="index">
            <div class="row">
                <div class="col s8">
                    <h3>How to use me po?</h3>
                    <p>
                        Hello! Welcome to the Noob Buster: The ultimate optimizer and dietary problem solver.
                        Now let us assume that they are related. A user first has to select from the navbar which application he/she would prefer to use. There are two choices: The ultimate optimizer and the dietary problem solver.
                    </p>
                    <div class="center">
                        <img class="responsive-img" src="img/doge.jpg">
                    </div>

                </div>
                <div class="col s4">
                    <h5>Creators:</h5>
                    <p>Joseph Matthew R. Marcos</p>
                </div>
            </div>
        </div>
    </div>

<!---->
<!---->
<!---->
<!---->
<!---->
<!--Ultimate Optimizer-->
    <div v-if="isAppType('ultimate-optimizer')">
        <div id="ultimate-optimizer">
            <div class="row">
                <div class="col s12">
                    <h4 class="Heading h1">Ultimate Optimizer</h4>
                </div>
            </div>
            <div class="row">
                <div class="col s4">
                    <!-- Switch -->
                    <div class="switch">
                        <label>
                            Minimize
                            <input v-model="ultimateOptimizer.isMaximize" type="checkbox">
                            <span class="lever"></span>
                            Maximize
                        </label>
                    </div>
                </div>
                <div class="col s4 right">
                    <a class="waves-effect waves-light btn right" href="#modal1">How to use</a>
                </div>
            </div>
            <div class="row">
                <div class="col s2 flow-text Heading h1">
                    <span class="black-text text-darken-2">Z =</span>
                </div>
                <div class="input-field col s8">
                    <input v-model="ultimateOptimizer.maxFunction"
                    id="maximizing-function" type="text" class="left">
                    <label class="active" for="maximizing-function">
                        Maximization Function (Format: +8 -2 -6)
                    </label>
                </div>
            </div>
            <div class="row" v-for="(constraint, index) in ultimateOptimizer.constraints">
                <div class="input-field col s10">
                    <input :id="'constraint' + index" type="text" class="" v-model="constraint.string">
                    <label class="active" v-bind:for="'constraint' + index">
                        Constraint {{ index + 1 }} (Format: +8 -2 -6 <= +9)
                    </label>
                </div>
                <div class="col s1">
                    <a class="red lighten-1 waves-effect waves-circle waves-light btn-floating secondary-content"
                    v-on:click="deleteConstraint(index)">x</a>
                </div>
            </div>
            <div class="row">
                <div class="col s6 right">
                    <a class="waves-effect waves-light btn"
                        v-on:click="createTableauU()"
                    >compute</a>
                    <a id="constraint-adder" class="waves-effect waves-light btn"
                        v-on:click="addConstraint()"
                    >add constraint</a>
                </div>
            </div>
            <div class="row" id="scroll-here"></div>
            <!--Print Tableau Solution-->
            <div class="row" v-for="(tableau, index) in ultimateOptimizer.solutions">
                <div class="divider"></div>
                <h5>Iteration {{ index }}</h5>
                <table>
                    <thead>
                        <th>Variable</th>
                        <th v-for="header in ultimateOptimizer.tableHeaders">
                            {{ header }}
                        </th>
                        <th>
                            Sol
                        </th>
                    </thead>
                    <tbody>
                        <tr v-for="(row, ind) in tableau.tableau">
                            <td>{{ ultimateOptimizer.rowHeaders[ind] }}</td>
                            <td v-for="cell in row"> {{ cell }} </td>
                        </tr>
                    </tbody>
                </table>
                <!--For the values of the slack variables and other stuff-->
                <h5>Basic Solution:</h5>
                <table>
                    <thead>
                        <th v-for="(value, key) in tableau.variables">
                            {{ key }}
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td v-for="(value, key) in tableau.variables">{{ value }}</td>
                        </th>
                    </tbody>
                </table>
            </div>



        </div>
    </div>

<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!--Dietary Problem Solver-->
    <div v-if="isAppType('dietary-problem-solver')">
        <div id="dietary-problem-solver">
            <div class="row">
                <h4>Dietary Problem Solver</h4>
            </div>
            <div class="row">
                <!--First-->
                <div class="col s4">
                    <h5 class="center">Food</h5>
                    <div class="collection unano">
                        <a href="#!" class="collection-item"
                        v-for="name in dietarySolver.choices" v-on:click="setSelected(name.key)"
                        v-bind:class="{active: name.isSelected, 'black-text': name.isAdded, grey : name.isAdded}">
                            {{name.foodName}}
                        </a>
                    </div>
                </div>
                <!--Middle-->
                <div class="col s4">
                    <h5 class="center">About</h5>
                    <div v-if="dietarySolver.focusedFood !== ''">
                        <div class="row">
                            <div class="col s12">
                                <div class="unano2">
                                    <table >
                                        <thead>
                                            <tr>
                                                <th>Data Field</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Name</td>
                                                <td>{{ dietarySolver.focusedFood.food.replace(/_/g, ' ') }}</td>
                                            </tr>
                                            <tr>
                                                <td>Price (per serving)</td>
                                                <td>${{ dietarySolver.focusedFood.pricePerServing }}</td>
                                            </tr>
                                            <tr>
                                                <td>Serving Size</td>
                                                <td>{{ dietarySolver.focusedFood.servingSize.replace(/_/g, ' ') }}</td>
                                            </tr>
                                            <tr>
                                                <td>Calories</td>
                                                <td>{{ dietarySolver.focusedFood.calories }}</td>
                                            </tr>
                                            <tr>
                                                <td>Cholesterol</td>
                                                <td>
                                                    {{ dietarySolver.focusedFood.cholesterol }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Total Fat</td>
                                                <td>{{ dietarySolver.focusedFood.totalFat }}g</td>
                                            </tr>
                                            <tr>
                                                <td>Sodium</td>
                                                <td>{{ dietarySolver.focusedFood.sodium }}mg</td>
                                            </tr>
                                            <tr>
                                                <td>Carbohydrates</td>
                                                <td>{{ dietarySolver.focusedFood.carbohydrates }}g</td>
                                            </tr>
                                            <tr>
                                                <td>Dietary Fiber</td>
                                                <td>{{ dietarySolver.focusedFood.dietaryFiber }}g</td>
                                            </tr>
                                            <tr>
                                                <td>Protein</td>
                                                <td>
                                                    {{ dietarySolver.focusedFood.protein }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Vitamin A</td>
                                                <td>{{ dietarySolver.focusedFood.vitA }}IU</td>
                                            </tr>
                                            <tr>
                                                <td>Vitamin C</td>
                                                <td>{{ dietarySolver.focusedFood.vitC }}IU</td>
                                            </tr>
                                            <tr>
                                                <td>Calcium</td>
                                                <td>{{ dietarySolver.focusedFood.calcium }}mg</td>
                                            </tr>
                                            <tr>
                                                <td>Iron</td>
                                                <td>{{ dietarySolver.focusedFood.iron }}mg</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--For the button-->
                        <div class="row">
                            <div class="col s12">
                                <a class="waves-effect waves-light btn right"
                                v-on:click="addFood()">add food!</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End-->
                <div class="col s4">
                    <h5 class="center">Selected</h5>
                    <div class="row">
                        <div class="col s12">
                            <div class="collection unano2">
                                <a href="#!" class="collection-item deletable"
                                v-for="name in dietarySolver.picks"
                                v-on:click="removePick(name.food)">
                                    {{name.food.replace(/_/g, ' ')}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <a class="waves-effect waves-light btn right"
                            v-on:click="optimizeFood()">Optimize!</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Solutions Row for dietary problem solver-->
            <div class="row">

            </div>
        </div>
    </div>
</div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Usage of Ultimate Optimizer</h4>
        <div class="divider"></div>

        <p>If you can read this, nakulangan ng oras si Matthew Marcos sa paggawa ng kanyang project.</p>
        <p>Obviously this guide is low in his list of priorities</p>

    </div>

    <div class="modal-footer">
        <div class="divider"></div>
        <a href="#!"
        onclick="this.href = 'http://www.google.com'"
        class=" modal-action modal-close waves-effect waves-green btn-flat">
            Ano daw?
        </a>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn">Oks manoks!</a>
    </div>
</div>

<script src="js/vue.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/materialize.min.js"></script>
<script src="js/lodash.min.js"></script>
<script src="js/data.js"></script>
<script src="js/SimplexMyUno.js"></script>
<script src="js/script.js"></script>
</body>
</html>
